# Aula de AEDS 3
## Aula de Python
- 1
- 2
- 3


$\dfrac{x}{x^{2}}$

$\hat{f} (\xi)=\int_{-\infty}^{\infty}f(x)e^{-2\pi ix\xi}dx$

# Imprimir em Python

In [3]:
print("Oi mundo")

Oi mundo

In [2]:
nome = 'alessandro'
cidade = 'Diamantina'
print("Meu nome é {} e minha cidade é {}".format(nome,cidade))

Meu nome é alessandro e minha cidade é Diamantina

In [4]:
print(nome)

alessandro

In [5]:
# isto é um comentário

"""
Múltiplas linhas 
teste
"""

'\nMúltiplas linhas \nteste\n'

In [6]:
time = "Galo"
if time == "Galo":
    print("Campeão!!")
else:
    print("Perdeu de novo!")

Campeão!!

In [7]:
a = 'Diamantina'
b = "Diamantina"
print("{} {}".format(a,b))

Diamantina Diamantina

In [8]:
for i in range (5):
    print(i)

0
1
2
3
4

In [9]:
contador = 0
while contador < 5:
    print(contador)
    contador += 1

0
1
2
3
4

In [10]:
def somar(a,b):
    return a+b

In [11]:
a = 1 
b = 2
somar(1,2)

3

In [12]:
somar('a','b')

'ab'

In [19]:
a = ['teste','teste1']
lista = [1,2,3,4,5,a]

In [20]:
lista[0]

1

In [21]:
for a in lista:
    print(a)

1
2
3
4
5
['teste', 'teste1']

In [22]:
alunos = {"nome": "João", "idade": 30}

In [23]:
alunos

{'nome': 'João', 'idade': 30}

In [24]:
print(alunos["nome"])

João

In [25]:
alunos = [{"nome": "João", "idade": 30},{"nome": "Pedro", "idade": 21}]
print("Nome: {} e Idade: {}".format(alunos[0]["nome"],alunos[0]['idade']))

Nome: João e Idade: 30

In [26]:
type(alunos)

list

In [27]:
ponto = (1,2)
x, y = ponto
print("x é {} e y é {}".format(x,y))

x é 1 e y é 2

In [30]:
def teste(a,b):
    return a,b

In [31]:
a = 1 
b = 2
c,d = teste(a,b)

In [32]:
c

1

In [33]:
x = 1 
type(x)

int

In [34]:
x = 1.1
type(x)

float

In [35]:
x = 'a'
type(x)

str

In [1]:
x.upper()

NameError: name 'x' is not defined

In [46]:
class Dog:
    # Class attribute
    species = "Canis familiaris"

    def __init__(self, name, age):
        self.name = name
        self.age = age

        # Another instance method
    def late(self):
        return 'au au'

In [47]:
c1 = Dog('furacao',1)

In [48]:
c1

In [49]:
c2 = Dog('destruidor',2)

In [50]:
c2

In [51]:
c1.name

'furacao'

In [52]:
c2.name

'destruidor'

In [53]:
canil = [c1,c2]

In [54]:
canil[0].name

'furacao'

In [55]:
c1.late()

'au au'

In [62]:
# importando biblioteca
# declarando os números
x = 10
y = 3
# Convertendo para números complexos
z = complex(x,y);
# Imprimindo a parte Real e Imaginária dos Números
print("A parte real é : ",z.real)
print("A parte imaginária é ",z.imag)
print(type(z))

A parte real é :  10.0
A parte imaginária é  3.0
<class 'complex'>

In [4]:
import pandas as pd

url='https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
c=pd.read_csv(url)

In [5]:
c

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [28]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
y = c["Survived"]

features = ["Pclass", "SibSp", "Parch"]

X=c[features]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

logreg = LogisticRegression()
logreg.fit(X_train, y_train)
Y_pred = logreg.predict(X_test)
score =accuracy_score(y_test,Y_pred)

In [29]:
score

0.7050847457627119